*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

/* Variables */

:root {
    --gray: #2d3436;
    --light-gray: #dfe6e9;
    --white: #eeeeee;
    --blue: #0984e3;
    --pink: #e84393;

    --blue-pink-gradient: linear-gradient(90deg, var(--blue), var(--pink));

    --border-radius: 4px;
    --gameboard-size: 300px;
    --margin-main: 16px 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;

    min-height: 100vh;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
}

.header,
.btn {
    background: var(--blue-pink-gradient);
    color: var(--white);
}

.header {
    border-bottom: 2px solid var(--gray);
}

.main {
    flex: 1;
}

.container {
    width: var(--gameboard-size);
    height: calc(1.5 * var(--gameboard-size));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Custom select */
/* Source: https://moderncss.dev/custom-select-styles-with-pure-css/ */

.top-container {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select,
.player-turn {
    display: none;
}

.custom-select {
    position: relative;
    margin: var(--margin-main);
}

.custom-select select {
    appearance: none;

    background-color: transparent;
    border: 2px solid #ff7675;
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
    width: 50;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    text-align: center;
}

.custom-select.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.player-turn.active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-size: 24px;
}

/* Gameboard */

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: var(--gameboard-size);
    width: var(--gameboard-size);

    border: 1px solid var(--gray);
}

.game-space {
    border: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    font-size: 70px;

    cursor: pointer;
}

.game-space:nth-child(3n) {
    border-right: 2px solid var(--gray);
}

.game-space:nth-child(n+7) {
    border-bottom: 2px solid var(--gray);
}

.game-space:hover {
    background-color: var(--light-gray);
}

/* Restart Button */

.btn {
    border: none;
    border-radius: var(--border-radius);
    font-size: 24px;
    padding: 12px 24px;
    margin: var(--margin-main);
    cursor: pointer;
}

.btn:hover {
    color: var(--light-gray);
}

/* Media queries */

@media (min-width: 440px) {
    .header-title {
        font-size: 48px;
    }

    .custom-select,
    .btn {
        margin: 24px 0;
    }

    .top-container {
        min-height: 100px;
    }

    .footer {
        font-size: 24px;
    }
}

@media (min-width: 660px) {
    :root {
        --gameboard-size: 450px;
    }
    .header-title {
        font-size: 64px;
    }

    .custom-select,
    .btn {
        margin: 36px 0;
    }

    .custom-select select {
        padding: 0.4em 0.65em;
    }

    .player-turn.active {
        font-size: 36px;
    }

    .game-space {
        height: 150px;
        width: 150px;
        font-size: 120px;
    }

    .btn {
        font-size: 28px;
    }

    .footer {
        font-size: 36px;
    }
}